.container {
  width: 80%;
}

.questionContainer {
  margin: 1.75rem;
}

.question {
  font-size: 3.75rem;
  line-height: 1.625;
  text-align: left;
}

.reply {
  width: 75%;
  height: 75%;
  margin-top: 1.25rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
}

.correct {
  color: rgb(22 163 74);
}

.incorrect {
  color: rgb(220 38 38);
}

.answerContainer {
  display: flex;
  justify-content: space-around;
}
