.itemButton {
  height: 8rem;
  margin: 1.25rem;
  padding: 1rem 2rem;
  display: flex;
  font-size: 3rem;
  justify-content: space-around;
  align-items: center;
  background: white;
  border: 0.25rem solid #337ab7;
  border-radius: 0.5rem;
  box-shadow: 0 1.25rem 1.5rem -0.25rem rgb(0 0 0 / 0.1),
    0 0.5rem 0.75rem -0.25rem rgb(0 0 0 / 0.1);
}

.itemButton:hover {
  outline: 0.25rem solid #337ab7;
  border: 0.5rem solid #fff;
  outline-offset: -0.75rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.24rem 0 rgba(51, 122, 183, 0.25);
  filter: none;
}

.itemButton:focus {
  outline: none;
  border: 0.5rem double #337ab7;
  border-radius: 0.25rem;
  filter: none;
  cursor: move;
}

.image {
  height: 100%;
  width: auto;
}

.reply {
  width: 75%;
  height: 75%;
  margin-top: 1.25rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
}

.correct {
  color: rgb(22 163 74);
}
