.dropContainer {
  border: 0.125rem dotted black;
  background: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.over {
  outline: 0.125rem solid #337ab7;
  outline-offset: 0.125rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 0.025em;
  font-weight: bold;
  margin: 1rem;
}
