.dropContainer {
  border: 0.25rem solid black;
  background: white;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* disallow drop zones growing to fit content */
  width: 0;
}

.dropContainer.disabled {
  font-size: 5rem;
  justify-content: center;
  border: none;
}

.over {
  outline: 0.25rem dashed #337ab7;
  outline-offset: 0.5rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 0.025em;
  font-weight: bold;
  margin: 1rem;
}
