@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.transition-enter {
  opacity: 0;
  /* transform: translateX(100%); */
}

.transition-enter-active {
  opacity: 1;
  /* transform: translateX(0%); */
}

.transition-exit {
  opacity: 1;
  /* transform: translateX(0%); */
}

.transition-exit-active {
  opacity: 0;
  /* transform: translateX(-100%); */
}

.transition-enter-active,
.transition-exit-active {
  transition: opacity 300ms, transform 500ms;
}
